<script>
/*
Q3. Write a EcmaScript program as per below given requirement . In order to complete the
requirement use below given array of object
*/

let empInfo = [
    {   name: 'Mike',
        dept: 'HR',
        salary: 20000,
        type: 'regular'
    },
    {   name: 'Joe',
        dept: 'Account',
        salary: 30000,
        type: 'contract'
    },
    {   name: 'Max',
        dept: 'IT',
        salary: 50000,
        type: 'regular'
    },
    {   name: 'Max',
        dept: 'IT',
        salary: 60000,
        type: 'regular'
    },
];

/*
1. Store department name in a new array and display it. use array.push method to
create a new array
*/
document.write (` <br>Answer 3.1 . <br><br> ` )
deptName = new Array();
empInfo.map(item => { deptName.push(item.dept); });
document.write(deptName);

/*
2. Store and display department name using map and anonymous function
*/
document.write (` <br>Answer 3.2 . <br><br> ` )
deptName.map( (item,index) => { document.write(` ${item} `)});

var deptNames = function (dept) { document.write(dept) };
var printdept = deptNames(deptName);

/*
3. Store and display department name using map and arrow function
*/

document.write (` <br>Answer 3.3 . <br><br> ` );
var printdepts = item => item;
document.write( printdepts(deptName) + `<br>` );

/*
4. Display total salary using reduce and anonymous function
*/
document.write (` <br>Answer 3.4 . <br><br> ` );

let sumsalry = empInfo.reduce(function(acc, emp){
  return acc + emp.salary;
},0);
document.write(`Total Salary : ` + sumsalry);

/*
5. Display total salary using reduce and arrow function
*/
document.write (` <br>Answer 3.5 . <br><br> ` );

let sumsal = empInfo.reduce((acc, emp) => {
  return acc + emp.salary;
},0);
document.write(`Total Salary : ` + sumsal);

/*6. Display the employee information whose salary is greater than equal to 30000 use
filter and anonymous function*/
document.write (` <br>Answer 3.6 . <br><br> ` );

EmpSal= empInfo.filter(function(item) {
     return item.salary > 30000
});
for (var i=0; i<EmpSal.length; i++) {
  document.write(EmpSal[i].salary+ " , ");
}

/*
7. Display the employee information whose salary is greater than equal to 30000 use
filter and arrow function
*/
document.write (` <br>Answer 3.7 . <br><br> ` );

EmpSal1= empInfo.filter(item => {
     return item.salary > 30000
});
for (var i=0; i<EmpSal1.length; i++) {
  document.write(EmpSal1[i].salary+ " , ");
}



</script>