<script>
/*
Q4. Write a EcmaScript program to implement OOP concepts as per the below given
requirement
*/

    /*
    Step1
    Declare a base class named as Employee having a constructor to initialize the properties eid and
    name and also declare a method named as print which display eid and name
    */
    document.write('<br /><br /> <b># Step 1 .</b> <br /><br />');
    class Employee {
        constructor(){
            this.eid = 1;
            this.name = 'Shubhi';
        }
        printE(){
            document.write(`Eid : ${this.eid} <br />Name : ${this.name} ` ) ;
        }
    }
    obj = new Employee();
    obj.name = "Sarah";
    obj.printE();
    
    /*
    Step2
    Declare a sub class of Employee class named as RegularEmployee class having a constructor to
    initialize Employee class properties as weel as it own properties named as department and
    salary override the print method to display the information
    */

    document.write('<br /><br /> <b># Step 2 .</b> <br /><br />');
    class RegularEmployee extends Employee {
        constructor(){
            super();
            this.department = 'CS';
            this.salary = 20000;
        }

        printE(){
            document.write(`Eid : ${this.eid} <br />
                            Name : ${this.name} <br />
                            department : ${this.department} <br />
                            salary : ${this.salary} <br />` ) ;
        }

    }

    obj2 = new RegularEmployee();
    obj2.printE();


    /*
    Step3
    Declare a sub class of Employee class named as ContractEmployee class having a constructor to
    initialize Employee class properties as weel as it own properties named as department and
    salary override the print method to display the information
    */
    document.write('<br /><br /> <b># Step 3 .</b> <br /><br />');
    
    class ContractEmployee extends Employee {
        constructor(){
            super();
            this.department = 'IT';
            this.salary = 20000;
        }

        printE(){
            document.write(`Eid : ${this.eid} <br />
                            Name : ${this.name} <br />
                            department : ${this.department} <br />
                            salary : ${this.salary} <br />` ) ;
        }

    }

    obj3 = new ContractEmployee();
    obj3.printE();

    /*
    Step4
    Create the object of both of the child class , initialize and display the information usng print()
    method
    */
    document.write('<br /><br /> <b># Step 4 .</b> <br /><br />');


    obj3 = new RegularEmployee();
    obj3.id = '101';obj3.name = 'Abc'; obj3.department = 'CS';obj3.salary = '20000'
    obj3.printE();
    
    obj4 = new ContractEmployee();
    obj4.id = '102';obj4.name = 'Xyz'; obj4.department = 'IT';obj4.salary = '30000'
    obj4.printE();


</script>
